# Ignore models 
*.pkl
*.gguf
*.sqlite3


# Python caches
__pycache__/
__init__.py

*.pyc

# Environments
env/
venv/

# System files
detector/
.DS_Store
.detector

#files
config.py
class_test.ipynb
extract_test.ipynb
